body {
    background-color: bisque;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.header{
    position: fixed;
    background-color: #816Aa0;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
    
}

.logo{
    
    font-size: 30px;
    font-weight: bold;
    padding: 0 30px;
    line-height: 100px;
}

.nav-menu{
    
   display: flex;
   margin-right: 40px;
   list-style: none;
    
}

.nav-menu-item{
    
    font-size: 18px;
    margin: 0 10px;
    line-height: 100px;
    
}

.nav-menu-link:hover  {
    background-color: blue;
    transition: 1.5s;
    
    
}

.nav-menu-link  {
    padding: 12px 16px;
    border-radius: 8px;
    
    
    
}
aside{
    position: fixed;
    background-color: rgb(40,180,35);
    color: white;
    top: 100px;
    left: 0;
    bottom: 20px;
    width: 20%;

}

section{
    position: fixed;
    overflow-y: scroll;
    background-color: bisque;
    top: 100px;
    left: 20%;
    bottom: 20px;
    width: 80%;
    padding: 10px;
}

footer {
    position: fixed;
    background-color: black;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;

}